html{
    background-color: var(--color-white-100);
}

header{
    text-align: center;
    margin-top: 120px;
}

header h1{
    margin: 0;
    margin-bottom: 10px;
}

header p{
    margin: 0;
}

#login-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 40px auto;
    padding: 16px;
    width: 80%;
    max-width: 600px;
    height: 50vmax;
    max-height: 500px;
    border-radius: 8px;
    box-shadow: 1px 1px 4px rgb(204, 204, 204);
}

#login-wrapper h2, label, input, button{
    margin: 0;
}

#login-wrapper h2{
    color: var(--color-red-500);
    font-size: 30px;
}

#login-wrapper label, input{
    display: block;
    margin-bottom: 16px;
}

#login-wrapper label{
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
}

#login-wrapper p{
    font-size: 12px;
    margin: 0;
    margin-bottom: 10px;
    color: var(--color-red-500);
    display: none;
}

#login-wrapper input{
    height: 40px;
    box-sizing: border-box;
}

#idpw-wrapper{
    width: 100%;
}

#id-wrapper{
    width: 80%;
    margin: 0 auto;
}

#userID{
    width: 100%;
}

#pw-wrapper{
    width: 80%;
    margin: 0 auto;
}

#userPW{
    width: 100%;
}

#login-wrapper button{
    width: 200px;
    height: 60px;
    font-size: 20px;
    background-color: var(--color-red-500);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 0px auto;
}
