header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1% 2% 1.5% 2%;
}

#logo-wrapper{
    text-align: center;
}

#logo-wrapper a{
    color: inherit;
    text-decoration: none;
}

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}


header input{
    width: 60%;
    height: 30px;
}

.border{
    border-bottom-style: solid;
    border-color: var(--color-red-700);
    margin-top: 15px;
}


.menu-btn{
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.menu-btn span{
    width: 100%;
    height: 3px;
    background-color: var(--color-red-700);
}

.category{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
}

.category svg{
    width: 30px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 2rem;
    position: relative;
}

.menu h2{
    margin: 0;
}

.submenu{
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: var(--color-white-100);
    width: 100%;
}

.submenu h3{
    margin: 0;
    margin: 10px 2px;
}

#entire-menu{
    width: 100vw;
    height: 112px;
    display: none;
}

.menu sidebar{
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

a.menu:hover sidebar{
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}
